.e-card-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.e-card {
    background-color: #282c34;
    padding: 10px;
    margin: 10px;
    border: solid;
    border-radius: 15px;
    border-color: lightgray;
    width: inherit;
}

.e-card .e-card-header {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font: bold;
}

.e-card .e-card-content {
    font-size: 20px;
    color: white;
    line-height: initial;
    font-weight: normal;
}

.e-card .e-card-separator {
    padding-bottom: 30px;
 }

 .e-card .e-card-horizontal  {
    margin: auto;
    width: inherit;
}

