#extra-container {
    background-color: transparent;
    position: relative;
    bottom: 400px;
}

.extra-container-gif {
    height: auto;
    width: 100%;
    z-index: 1;
}

.hiking, .trash {
    display: flex;
    flex-direction: row;
}

.e-card-trophy-boot, .e-card-trophy-trash {
    border: solid;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 70%;
    left: 20%;
}

.e-card-trophy-trash {
    left: 50%;
    bottom: 42%;
}

.hiking-text, .trash-text {
    color: white;
    position: absolute;
    bottom: 600px;
}

.hiking-text {
    display: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    bottom: 66%;
    left: 20%;
}

.e-card-trophy-boot:hover + .hiking-text {
    display: block;
    color: white;
}

.trash-text {
    display: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    left: 50%;
    bottom: 38%;
}

.e-card-trophy-trash:hover + .trash-text {
    display: block;
    color: white;
}

.duck {
    position: relative;
    bottom: -500px;
} 